
body, ul, header, .content, footer {

font-family: "Geneva", "Tahoma", sans-serif;
font-size:14px;

}



ul {

	
	color: rgb(51, 51, 51);
	line-height: 50px;
	
}


ul li {



}

a:link,a:visited,a:hover,a:active {

color:rgb(66,206,179);
text-decoration:none;

}



.content {
	margin-left: 100px;
	margin-right: 100px;
	color: rgb(51,51,51);	

}

footer {

	color:white;
	background-color: rgb(204, 71, 68);
	text-align: center;
	margin-top: 400px;	



}


/*
	Styling for listing games on the Stencyl, JavaScript and HTML pages
*/
.list-games {
	margin: 0.7em 0 0 0;
	list-style: none;
	font-size: 1.25em;
	line-height: 100%;
}
.list-games li {
	margin-bottom: 0.7em; 
}

/*
	Styling for the Stencyl, JavaScript and HTML project description page
*/
figure {
	padding-top: 1.4%; /* This is to match the Kraken left/right padding on grid elements*/
	padding-bottom: 1.4%;
}
figure img {
	width: 100%;
	vertical-align: top;
}
figure img:hover {
	opacity: 0.5;
}
figure figcaption {
	width: 100%;
	text-align: center;
	background: #42ceb3;
	color: #fff;
	font-size: 1.25em;
}
.topgames {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.schedule {
	height: auto;
}
.schedule-day {
	margin-bottom: 1em;
}
.schedule-day li {
	margin-left: 1em;
	height: 1.5em;
}
.schedule-day li:first-child {
	margin-left: 0;
}