
body, ul, header, .content, footer {

font-family: "Geneva", "Tahoma", sans-serif;
font-size:14px;

}



ul {

	
	color: rgb(51, 51, 51);
	line-height: 50px;
	
}


ul li {



}

a:link,a:visited,a:hover,a:active {

color:rgb(66,206,179);
text-decoration:none;

}



.content {
	margin-left: 100px;
	margin-right: 100px;
	color: rgb(51,51,51);	

}

footer {

	color:white;
	background-color: rgb(204, 71, 68);
	text-align: center;
	margin-top: 400px;	



}

/*
	Styling for listing games on the Stencyl, JavaScript and HTML pages
*/
.list-games {
	margin: 0.7em 0 0 0;
	list-style: none;
	font-size: 1.25em;
	line-height: 100%;
}
.list-games li {
	margin-bottom: 0.7em; 
}