/* 
  CSS Reset
  http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* 
  General
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  /* Useful for debugging: border: 1px solid red !important; */ 
}

.container {
  margin: 0 auto;
  width: 960px;
  background: #fff;
}

p {
  font: 300 35px/38px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.centeredtext {
  text-align: center;
}

.title {
  font-size: 37px;
  margin-bottom: 10px;
}
.title b {
  font-weight: 400;
  border-bottom: 1px solid #000;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  border-bottom: none;
}
a:link {
  color: #120020;
}
a:visited {
  color: #120020;
}
a:hover {
  color: #F73F05;
}
a:active {
  color: #120020;
}

iframe{
  width: 100%;
  height: 900px;
  overflow: hidden;
}
