/*comment*/

body {
	font-family: "Geneva";
	font-size: 14px;

}

ul {

	font-family: "Geneva", sans-serif;
	font-size: 14px;
	color: rgb(51, 51, 51);
	line-height: 50px;
	

}

ul li {





}

header {

	font-size: 2em;
}


.content {
	
	
	padding-left: 100px;
	margin-right: 100px;
	color: rgb(51,51,51);	

}

footer {

	font-family: "Geneva",sans-serif;
	font-size: 14px;
	font-style: normal;
	color:white;
	background-color: rgb(204, 71, 68);
	text-align: center;
	margin-top: 180px;

}


